@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Roboto", sans-serif;
}

/* Common layout */
.my-container {
  @apply max-w-7xl xl:container mx-4 sm:mx-8 md:mx-12 xl:mx-auto;
}
.my-container-2 {
  @apply mx-6 md:mx-10 xl:mx-14;
}

.btn-outline-one {
  @apply flex items-center justify-center gap-1 bg-white text-primary border-[1px] border-primary hover:!bg-primary hover:!text-white px-4 md:px-5 py-3 md:py-4 rounded-md font-semibold;
}

.my-inp {
  @apply rounded-lg px-4 py-3 outline-none focus:border-l-2 focus:border-primary  w-full text-black bg-white;
  box-shadow: rgba(17, 17, 26, 0.05) 0px 1px 0px,
    rgba(17, 17, 26, 0.1) 0px 0px 8px;
  background: rgba(255, 255, 255, 0.05);
}
.my-inp:focus {
  box-shadow: rgba(0, 0, 0, 0.09) 0px 3px 12px;
}
.my-textarea {
  @apply min-h-[150px] max-h-[250px] rounded-lg px-4 py-3 outline-none focus:border-l-2 focus:border-primary  w-full text-black bg-white;
  box-shadow: rgba(17, 17, 26, 0.05) 0px 1px 0px,
    rgba(17, 17, 26, 0.1) 0px 0px 8px;
  background: rgba(255, 255, 255, 0.05);
}
.my-text-area:focus {
  box-shadow: rgba(0, 0, 0, 0.09) 0px 3px 12px;
}

.my-shadow-1 {
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px !important;
}

.my-text-gradient-1 {
  @apply text-transparent bg-clip-text bg-gradient-to-r from-primary to-primary;
}
.my-text-gradient-2 {
  @apply text-transparent bg-clip-text bg-gradient-to-r from-primary to-primary;
}
.my-bg-gradient-1 {
  @apply bg-gradient-to-r from-primary-50 to-primary-100;
}
.my-bg-gradient-2 {
  @apply bg-gradient-to-r from-primary to-primary;
}

/* Footer */
#footer {
  clip-path: polygon(0 0, 100% 15%, 100% 100%, 0% 100%);
}
@media screen and (max-width: 800px) {
  #footer {
    clip-path: polygon(0 0, 100% 7%, 100% 100%, 0% 100%);
  }
}
/* footer */
.footer-bg {
  backdrop-filter: blur(8px) saturate(183%);
  -webkit-backdrop-filter: blur(8px) saturate(183%);
  background-color: rgba(0, 0, 0, 0.9);
}

/*Custom scrollbar  */
body,
.my-scrollbar {
  --sb-track-color: #28282b;
  --sb-thumb-color: #ffc000;
  --sb-size: 10px;
}
body::-webkit-scrollbar,
.my-scrollbar::-webkit-scrollbar {
  width: var(--sb-size);
}

body::-webkit-scrollbar-track,
.my-scrollbar::-webkit-scrollbar-track {
  background: var(--sb-track-color);
  border-radius: 3px;
}

body::-webkit-scrollbar-thumb,
.my-scrollbar::-webkit-scrollbar-thumb {
  background: var(--sb-thumb-color);
  border-radius: 3px;
}

@supports not selector(::-webkit-scrollbar) {
  body {
    scrollbar-color: var(--sb-thumb-color) var(--sb-track-color);
  }
  .my-scrollbar {
    scrollbar-color: var(--sb-thumb-color) var(--sb-track-color);
  }
}

/* Overwrite antd message css */
.ant-message {
  top: auto !important;
  bottom: 10px;
  left: auto;
  right: auto !important;
}
/* Overwrite antd carousel dots */
.slick-dots li button {
  @apply !bg-gray;
}
.slick-dots li.slick-active button {
  @apply !bg-primary;
}
.slick-arrow {
  @apply !bg-primary p-10 rounded-full block !h-[40px] !w-[40px];
}
.slick-arrow::after {
  @apply !text-white !top-0 !bottom-0 !m-auto;
}
.slick-arrow.slick-prev::after {
  @apply left-[16px];
}
.slick-arrow.slick-next::after {
  @apply left-[12px];
}

/* antd search */
.ant-input-search-button {
  @apply bg-primary;
}

/* Swiper carousel dots */
.swiper-button-next,
.swiper-button-prev {
  @apply !rounded-full !text-primary !h-[60px] !w-[60px] bg-primary-50;
}
